[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
beautifulsoup4 = "*"
black = "*"
tiktoken = "*"
openai = "*"
pinecone-client = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
requests = "*"
bs4 = "*"
watchdog = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain-pinecone = "*"
pdf2image = "*"
pdfminer = "*"

[dev-packages]

[requires]
python_version = "*"
python_full_version = "*"
